<div class="container services">
  <span>Services are custom tailored to fit your exact needs. Contact us today to get price quotes, packages, and to setup a free consultation where we will present our services, answer any questions and go over the details of your event with you  for your special event.</span>
</div>
<hr>
<div class="container">
  <h3>DJs</h3>
  <span>
      Talented Deejays and Energetic Emcees with over 10 years and 500+ events (Indian Weddings, Sweet 16's, Engagements, Anniversaries, Night-Club, etc). The DJ along with the MC will keep the crowd moving to the beat of the music with a non-stop, high-energy music mix custom tailored to the songs of your choice.
  </span>
</div>
<hr>
<div class="container">
  <h3>Lighting</h3>
  <span>
      DJ Sunny Entertainment’s team of  lighting designers will work hand-in-hand with you to create a custom lighting design that will transform your event space from conventional to sensational and set just the right mood.
      We offer a wide range of lighting services from decor and accent up- lighting to the latest digital lighting technology using brands such as Martin, Elation, & Color Kinetics.
      Lighting Services include but not limited to:
      LED Uplighting, Intelligent Moving Heads, Custom Monograms, Light Jockey, Pinspot Lighting, Laser Lighting, & More
  </span>
</div>
<hr>
<div class="container">
  <h3>Dholi</h3>
  <span>Live Dhol services for your baraat (indian wedding procession), grand entrance at your wedding reception, or along with the music while the dance floor is open.
      All Dhol Players arrive fully dressed in traditional North Indian Attire.
      Along with dhol players, we also offer Mobile Baraat Van Services, or full  traditional live bands for the grooms procession.</span>
</div>
<hr>
<div class="container">
  <h3>Visual Services</h3>
  <span>
      Plasma TV Displays and Projectors with Screens for Video Montages, Live Video Simulcasat, Pictures, 3D Effects, & Video Mixing</span>
</div>
<hr>
<div class="container">
  <h3>Sound</h3>
  <span>
      Using the best sound in the industry. JBL SRX Series sound, Rane, Shure, Seinheriser, Pioneer, Denon, Technic & QSC
  </span>
</div>
<hr>
<div class="container">
  <h3>Lounge Furniture</h3>
  <span>
Light Up Furniture, Bars, Couches, Ottomans, Tables, Pipe and Drape  & Mor
  </span>
</div>
<hr>
<div class="container">
    <h3>Dance Floor</h3>
    <span>
  Light Up Furniture, Bars, Couches, Ottomans, Tables, Pipe and Drape  & Mor
    </span>
  </div>
  <hr>
  <div class="container">
      <h3>Live Orchestra</h3>
      <span>
          Live Singers for Sangeets & Garba's, Live Tabla/Sitar players, Live Shehnai Players, Live Drummers, & Live Pianists​
      </span>
    </div>
    <hr>
    <div class="container">
        <h3>Motivational Dancers</h3>
        <span>
            LEnergetic Bhangra Dancers, Bollywood Fusion Dancers, & Break Dancers
        </span>
      </div>
      <hr>