<div class="container">
  <div id="home-intro">
    <h2>North India's Premier Entertainment group</h2>
    <p>Come visit us at our show room: 
        Appointments by schedule only.
    </p>
    <hr>
    <span class="homeVideo">
        <video width="700" controls>
            <source src="../../assets/home.mp4" type="video/mp4">
            Your browser does not support HTML5 video.
          </video>
    </span>
    <span>
      Gallery - check out gallery for more videos and photos,
      
      Services - We provide services Deejays, Emcees, Lighting, Visual Services, Singers, Dhol Players & More
      
      Reviews at Yelp!

      
    </span>
  </div>
</div>
